.boxes{
	width: 80%;
	height:150px;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
	border: navy 5px double;
	background-color: cornsilk;
}

.content{
	position: relative;
	left:600px;
	top: -90px;
	background-color: PeachPuff;
	padding: 2px 20px;
	height: 80%;
	border: indigo 2px solid;
    width: 100px;
}

.boxes img{
	position: relative;
	width: 30%;
	height: 60%;
}